<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation" style="align-content: center;">
  <div class="container-fluid">

    <div class="navbar-header">
      TINY APP
      </a>

      <ul>

        <% if(user_id) { %>

          <a>Welcome
              <%= user_id.email %>!</a>

            <form method="POST" action="/logout" style="margin-bottom:20px;">

              <input type="submit" value="logout">

            </form>
          <% } else { %>
            <a>Please <a href="/login">Login</a></a>
            <% } %>
              <li><a style=padding-right:10px href="/urls">Home</a>
                <a href="/urls/new">New URL</a>
              </li>
      </ul>

    </div>
  </div>
</nav>
