<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
                TINY APP
            </a>
    
            <ul class="nav navbar-nav">
                <li><a style = padding-right:10px href="/urls">All URL's</a>
                    <a href="/urls/new">New URL</a></li>
            </ul>
        </div>
    </div>
    </nav>