<html lang="en">

<head>
  <%- include('partials/head'); -%>
</head>
<header>
  <%- include('partials/_header'); -%>
</header>

<body>
    <nav class="navbar navbar-default" role="navigation" style="width: fit-content; margin: auto;">
        <div style="border-radius:10px;padding:15px;background-color: black;box-shadow: 0px 0px 40px aqua; margin: 0px; padding-top: 25px">
            <% if(user_id === undefined) { %>
      <form method="POST" action="/login" style="color:orange; text-shadow: 0px 0px 4px; border-radius: inherit;">
        Login
        <input id="email" name="email" type="text" placeholder="email">
        <input id="password" name="password" type="text" placeholder="password">
        <input style="box-shadow: 0px 0px 4px aqua; border-color:aqua; background-color: rgba(0, 0, 0, 0.377); color: turquoise; border-radius: 5px; text-shadow: 0px 0px 4px turquoise" type="submit" value="login">
      </form>
      <% } %>
    </div>
  </nav>
</body>

</html>