<html lang="en">

<head>
  <%- include('partials/head'); -%>
</head>
<% include partials/_header %>

<body>
    <nav class="navbar navbar-default" role="navigation" style="width: fit-content; margin: auto;">
        <div style="border-radius:10px;padding:15px;background-color: black;box-shadow: 0px 0px 40px aqua; margin: 0px; padding-top: 25px">
        <form style="color: orange; text-shadow: 0px 0px 4px; border-radius: inherit;" action="/register" method="POST">
        Register
        <input id="email" type="text" name="email" placeholder="email address" style="width: 200px">
        <input id="password" type="text" name="password" placeholder="password" style="width: 200px;">
        <input style="box-shadow: 0px 0px 4px aqua; border-color:aqua; background-color: rgba(0, 0, 0, 0.377); color: turquoise; border-radius: 5px; text-shadow: 0px 0px 4px turquoise" type="submit" value="Submit">
      </form>
    </div>
  </nav>
</body>

</html>
