<!DOCTYPE hmtl>
<html lang="en">

<head>
  <%- include('partials/head'); -%>
</head>

<body style="font-family: arial; font-size:20px; padding:50px;">
<title>Short URL: <%= shortURL %></title>

</body>

</html>
