<head>
  <%- include('partials/head'); -%>
</head>
<header>
  <%- include('partials/_header'); -%>
</header>

<body style="font-family: arial; font-size:20px; padding:50px;">
  <li>Short Link --->
    <%=shortURL%>
  </li>

  <form action="/urls/<%= shortURL %>/edit" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>

</body>

</html>