<head>
  <%- include('partials/head'); -%>
</head>

<header>
  <%- include('partials/_header'); -%>
</header>

<body style="background-color:rgb(75, 75, 75); font-family: monospace; font-size:20px; padding-left:30px; margin: 0; padding-top:20px">
  <nav class="navbar navbar-default" role="navigation" style="width: fit-content; margin: auto;">
      <div style="border-radius:10px;padding:15px;background-color: black;box-shadow: 0px 0px 40px aqua; margin: auto;">
        <form action="/urls" method="POST" style="padding: 15px; margin: 0; background-color: rgba(0, 0, 0, 0.514); border-radius: inherit;">
        <label style=" color:orange; text-shadow: 0px 0px 4px" for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input style="box-shadow: 0px 0px 4px aqua; border-color:aqua; background-color: rgba(0, 0, 0, 0.377); color: turquoise; border-radius: 5px; text-shadow: 0px 0px 4px turquoise" type="submit" value="Submit">
      </form>
    </div>
  </nav>
</body>

</html>
